{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Ahmed Kamel</title>
</head>
<body>

    <header>
        <a href="#" class="logo">ahmed</a>
        <nav class="navigation">
            <a href="https://github.com/ahmedkamel999">Github</a>
            <a href="https://www.linkedin.com/in/ahmed-kamel-93b368245">Linkedin</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>


    <section class="main">
        <div>
            <h4>Hi, I'm Ahmed,  I'm passionate about software development,
                I describe my self as someone who's persistant, a quick learner and loves problems solving by using simple and scalable solutions.</h4>
            <h2><br><span>Web Developer</span></h2>
            <h4></h4>
            <a href="#projects" class="main-btn">View my work</a>
        </div>
    </section>

    <section class="cards" id="services">
        <h2 class="title">Skills</h2>
        <class class="content">
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>HTML</h3>
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>CSS</h3>
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>Python</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>JavaScripts</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>Django</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>Node.js</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>React</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>Git</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>GitHub</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>Bootstrap</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>REST API</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>Next.js</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                </div>
                <div class="info">
                    <h3>SQL</h3>
                </div>
            </div>
            </class>
            
            
    </section>

    <section class="projects" id="projects">
        <h2 class="title">Projects</h2>
        <div class="content">
            <a href="https://ahmedp-my-blog.herokuapp.com/" class="main-btn">View my blog</a>
           </div>
    </section>

    <section class="cards contact" id="contact">
        <h2 class="title">Let's work together</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <p>+9647739939577</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="info">
                    <h3>Email</h3>
                    <p>a7mek7@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <p class="footer-title">Copyrights @ <span>Ahmed Kamel</span></p>
    </footer>

</body>
</html>